"name": "Msg"
"scopeName": "source.msg"
"fileTypes": ["action", "msg", "srv"]
"patterns": [
  {
    "comment": "Match string literals first to avoid clashing with comments",
    "match": "^(?:\\s*)(string)\\s+([a-zA-Z][a-zA-Z0-9_]+)\\s*=(.*)$",
    "captures": {
      "1": {"name": "storage.type.msg"},
      "3": {"name": "string.unquoted.msg"}
    }
  },
  {
    "name": "comment.line.number-sign.msg",
    "match": "#.*$"
  },
  {
    "name": "support.type.mg",
    "match": "\\bHeader\\b"
  },
  {
    "name": "support.type.msg",
    "match": "\\b(bool|u?int(8|16|32|64)|float(32|64)|string|time|duration)\\b"
  },
  {
    "name": "invalid.deprecated.msg",
    "match": "\\b(byte|char)\\b"
  },
  {
    "name": "constant.numeric.msg",
    "match": "\\b[+-]?[0-9]*\\.?[0-9]+([eE][+-]?\\d+)?\\b"
  },
  {
    "name": "constant.language.nsg",
    "match": "\\b(True|False)\\b"
  }
]
